@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Jersey+25+Charted&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Play&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    /* NEW THING 
     BOX SIZING- BORDER BOX{It includes the padding and spacing of the overall things included in it} */

}

::selection {
    color: rgba(15, 33, 197, 0.929);
}

body {
    /* background-color: #F2E5C6; */
    /* background-color: #F2E5C6; */
    background-color: rgba(37, 47, 141, 0.1);
    color: #333333;
}

.navigation_bar {
    padding: 5px;
    height: 6vh;
    /* border: 1px solid rgb(231, 192, 107); */
    /* background-color: #3B3F40; */
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0a192f;;
    color: #f8f8f8;
    border-bottom: 2px solid #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.contacts,
.name:hover {
    padding: 30px;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}

.anch {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.anch:hover {
    text-decoration: none;
    color: rgb(212, 161, 66);
}


.contacts {
    font-size: large;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    
    
}

.education-nav:hover,.projects-nav:hover,.contacts-nav:hover {
    font-size: x-large;
    color: rgb(212, 161, 66);
    transition: 0.5s ease-in-out;
}

/* SECOND PART */
.first {
    margin-top: 3rem;
    display: grid;
    place-items: center;
    /* border-bottom: 2px solid rgb(197, 133, 13);
     */
    background-color: rgba(134, 186, 235, 0.1);
        /* Light blue */
        border-bottom: 2px solid #ced4da;
    /* Border color */
}

.image {
    width: 70vw;
    height: 48vh;
    display: flex;
    border: 2px solid rgb(122, 163, 216);
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;

}

.image img {
    padding: 1rem;
    width: 20vw;
    height: 43vh;
    border: rgb(255, 170, 11);
    border-radius: 10%;
    border-top-left-radius: 50px;
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px; */
}

.image h1 {
    padding: 4rem;
    font-family: "Lato", sans-serif;
    font-size: xx-large;
    word-spacing: 1.6rem;
}

.socials {
    position: relative;
    left: -28.7vw;
    top: -5vh;
    width: 13vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialimage a img {
    width: 40px;
    height: 27px;
}

.anchor {
    text-decoration: none;
}


@media only screen and (max-width:1673px) {
    .image h1 {
        word-spacing: 1.1rem;
    }

    .socials {
        left: -27.5vw;
    }

}

@media only screen and (max-width:1510px) {
    .image h1 {
        word-spacing: 0.7rem;
        font-size: 1.85rem;
    }

    .socials {
        left: -27vw;
    }

}

@media only screen and (max-width:1310px) {
    .image h1 {
        word-spacing: 0.7rem;
        font-size: 1.7rem;
    }

    .socials {
        margin-left: 1rem;
        left: -27vw;
    }

}

@media only screen and (max-width:1188px) {
    .image h1 {
        word-spacing: 0.7rem;
        font-size: 1.59rem;
    }

    .socials {
        margin-left: 1rem;
        left: -25.5vw;
    }

}

@media only screen and (max-width:1018px) {
    .image h1 {
        word-spacing: 0.7rem;
        font-size: 1.49rem;
    }

    .socials {
        margin-left: 1rem;
        left: -25vw;
    }
}

@media only screen and (max-width:962px) {
    .image h1 {
        padding: 2rem;
        word-spacing: 0.7rem;
        font-size: 1.39rem;
    }

    .image img {
        width: 24vw;
        /* height: 60vh; */
    }

    .socials {
        margin-left: 1rem;
        left: -24vw;
    }
}

@media only screen and (max-width:860px) {
    .image h1 {
        word-spacing: 0.7rem;
        font-size: 1.19rem;
    }

    .image img {
        width: 25vw;
        /* height: 60vh; */
    }

    .socials {
        margin-left: 1rem;
        left: -23vw;
    }
}

@media only screen and (max-width:650px) {


    .image {
        height: 40vh;
    }

    .image h1 {
        padding: 0.7rem;
    }

    .image img {
        width: 30vw;
        height: 35vh;
    }

    .image h1 {
        font-size: 0.92rem;
        height: 15vh;
    }

    .resume h2 a {
        padding: 2px;
        left: 10rem;
        font-size: 1.15rem;
    }

    .socialimage a img {
        margin-left: 10px;
        padding: 0.1rem;
        width: 1.9rem;
        height: 1.6rem;
    }

    .socials {
        left: -21vw;
        top: -6vh;
    }
}

@media only screen and (max-width:532px) {
    .first {
        padding: 0rem;
        transition: 0.6s;
    }

    .image {
        width: 85%;

        height: 65vh;
        flex-direction: column;
    }

    .image img {

        /* align-self: center; */
        width: 47vw;
        height: 36vh;

        border-radius: 18%;

    }

    .image h1 {
        width: 100%;
        font-size: 0.75rem;
    }

    .name a {
        font-size: large;
    }

    .socials {
        left: -25vw;
        top: -4.7vh;
    }
}

@media only screen and (max-width:371px) {
    .first {
        padding: 0rem;
        transition: 0.6s;

    }

    .image {
        border-radius: 2rem;
        height: 75vh;
    }

    .image img {
        width: 46vw;
        height: 27vh;
        align-self: center;
        position: relative;
        border-radius: 14%;
    }

    .image h1 {
        padding-top: 3.7rem;
        font-size: 0.9rem;
    }

    .first {

        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    .socials {
        left: -2vw;
        top: -29vh;
    }

    .resume h2 a {
        padding: 2px;
        left: 10rem;
        font-size: 1.15rem;
    }

    .socialimage a img {
        margin-left: 10px;
        padding: 0.1rem;
        width: 1.5rem;
        height: 1.4rem;
    }

}


/* ========================================================= */
/*Education Section*/
.education-section {
    height: 82vh;
    color: #2C3E50;
    background-color: #F4F4F4;
    background-color: rgba(90, 133, 211, 0.15);
    padding-bottom: 42rem;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    border-top: 2px solid rgba(68, 76, 83, 0.25);
    border-bottom: 2px solid rgba(68, 76, 83, 0.25);
    display: none;
    
}
.education-section h1{
    padding-top: 1rem;
    font-size: 3rem;
}

.bs-deg, .btech-deg, .sec-high, .high {
    width: 25vw;
    color: whitesmoke;
    background-color: #2C3E50;;
    border-radius: 15px;
}

.education-section > div {
    text-align: center;
}

.education-section h3 {
    margin-bottom: 5px;
}

.education-section p {
    margin: 0;
}

.education-section ul {
    padding: 0.2rem;
    margin: 10px 0;
    list-style-type: none;
}

.education-section ul li {
    padding: rem;
    margin-left: 0;
}

.education-section p:nth-child(4) {
    font-weight: bold;
}

/* SECOND_CONTAINER */
.second {
    padding: 1.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    border-bottom: 2px solid gray;
    display: none;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;

}

.second .heading h1 {
    font-size: 2.5rem;

    font-style: oblique;
    font-family: "Lato", sans-serif;
    text-decoration: 2px underline;
}

.projects {
    padding: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    place-content: center;
    gap: 70px;
}

.projectvideo:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;


}

.project video {
    border: 2px solid rgb(100, 97, 90);
    border-radius: 2%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;

    width: 100%;
    height: auto;

}

.project h1 {
    padding-top: 2%;
    color: #2f3638;
}

.description {
    margin-left: -2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.linking a:nth-child(1) {}

/* ============================================================================== */
/*    THIRD SECTION */
.third {
    display: grid;
    place-content: center;
    margin-top: 1rem;
}

.contact-me {
    display: grid;
    place-items: center;
}

.contact-me .handles h1:nth-child(n) {
    margin-top: 10rem;
}

.contact-me .handles h1:nth-child(n):hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.handles {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.handles h1 a {
    padding: 10px;
    text-decoration: none;
    color: rgb(69, 154, 235);
    word-spacing: 0.4rem;
    justify-content: center;
    align-items: center;
}

/* ============================================================================ */
/* FOOTER SECTION */
.footer {
    position: relative;
    width: 100%;
    height: 3vh;
    bottom: -110rem;
    top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a192f;
    color: darkgray;
}

/* ADDING RESPONSIVENESS */
@media only screen and (max-width:620px) {
    .projects {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 80px;
    }

    .project h1 {
        padding-top: 2%;
        color: #242a2c;
        font-size: x-large;
    }

    .handles h1 a {
        font-size: x-large;
    }

    .contact-me h1 {
        font-size: x-large;
    }

}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.7s ease-out;
}

.reveal.is-visible {
    opacity: 1;
    transform: translateY(0);
}