@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Jersey+25+Charted&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Play&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    /* NEW THING 
     BOX SIZING- BORDER BOX{It includes the padding and spacing of the overall things included in it} */

}

::selection {
    color: rgb(43, 43, 250);
}

body {
    background-color: #F2E5C6;
}
.navigation_bar {
    padding: 5px;
    height: 6vh;
    border: 1px solid rgb(231, 192, 107);
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: #3B3F40;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts,
.name:hover {
    padding: 30px;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}

.anch {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.anch:hover {
    text-decoration: none;
    color: rgb(212, 161, 66);
}

.contacts {
    font-size: large;
}

.contacts:hover {
    font-size: x-large;
    color: rgb(212, 161, 66);
}

/* SECOND PART */
.first {
    margin-top: 3rem;
    display: grid;
    place-items: center;
    border-bottom: 2px solid rgb(197, 133, 13);
}

.image {
    width: 70%;
    display: flex;
    border: 2px solid rgb(212, 161, 66);
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;

}

.image img {
    width: 21vw;
    height: 55vh;
    border: rgb(255, 170, 11);
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;

}

.image h1 {
    padding: 8rem;
    padding-bottom: 0rem;
    font-family:"Lato", sans-serif;
    font-size: xx-large;
    word-spacing: 1.9rem;
}

.socials {
    position: relative;
    left: 24vw;
    top: -4.5rem;
    width: 13vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialimage a img {
    width: 40px;
    height: 27px;
}

.anchor {
    text-decoration: none;
}

@media only screen and (max-width:1310px) {
    .first {
        padding: 0.5rem;
        transition: 0.5s;
    }

    .image {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }

    .image img {
        justify-content: center;
        align-self: center;
        width: 28vw;
        height: 52vh;
        padding: 1rem;
        border-radius: 15%;
    }

    .image h1 {
        padding: 1rem;
        word-spacing: 0.1rem;
        font-size: xx-large;
        width: 95%;
        height: 23vh;
    }
    .socials{
        left: 21vw;
    }

}

@media only screen and (max-width:1010px) {
    .first {
        padding: 1rem;
        transition: 0.7s;
    }

    .image img {
        justify-content: center;
        align-self: center;
        width: 36vw;
        height: 55vh;
    }

    .image h1 {
        word-spacing: 0.5rem;
        width: 95%;
        height: 25vh;
        font-size: 1.7rem;
    }

    .socials {
        top: -4rem;
        left: 16rem;
    }
}

@media only screen and (max-width:962px) {
    .socials {
        left: 20vw;
    }
}

@media only screen and (max-width:860px) {
    .first {
        padding: 0rem;
        transition: 0.6s;
    }
    .image{
        height: 75vh;
    }

    .image img {
        justify-content: center;
        align-self: center;
        width: 41vw;
        height: 49vh;
        border-radius: 14%;
    }

    .image h1 {
        font-size: x-large;
        height: 17.5vh;
    }

    .socials {
        width: 10px;
        height: 10px;
        top: -2.5rem;
        left: 22vw;
        font-size: smaller;
    }
}

@media only screen and (max-width:650px) {
    .first {
        padding: 0rem;
        transition: 0.6s;
    }
    .image{
        height: 64vh;
    }

    .image img {
        justify-content: center;
        align-self: center;
        width: 46vw;
        height: 41vh;
        border-radius: 14%;
    }

    .image h1 {
        font-size: large;
        height: 15vh;
    }

    .resume h2 a {
        padding: 4px;
        left: 10rem;
        font-size: small;
    }

    .socialimage a img {
        padding: 3px;
        width: 1.3rem;
        height: 1.3rem;
    }
}

@media only screen and (max-width:532px) {
    .first {
        padding: 0rem;
        transition: 0.6s;
    }
    .image{
        height: 55vh;
    }

    .image img {
        justify-content: center;
        align-self: center;
        width: 48vw;
        height: 32vh;
        border-radius: 15%;

    }

    .image h1 {
        width: 100%;
        font-size: 0.99rem;
    }

    .name a {
        font-size: large;
    }
}

@media only screen and (max-width:371px) {
    .first {
        padding: 0rem;
        transition: 0.6s;

    }

    .image {
        border-radius: 2rem;
        height: 50vh;
    }
    .image img {
        width: 41vw;
        height: 25vh;
        border-radius: 14%;
    }

    .image h1 {
        font-size: small;
    }

    .first {

        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }

}

/* ========================================================= */
/* SECOND_CONTAINER */
.second {
    padding: 1.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    border-bottom: 2px solid #c49b3c;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;

}
.second .heading h1 {
    font-size: 2.5rem;

    font-style: oblique;
    font-family: "Lato", sans-serif;
    text-decoration: 2px underline;
}

.projects {
    padding: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    place-content: center;
    gap: 70px;
}

.projectvideo:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;


}

.project video {
    border: 2px solid rgb(100, 97, 90);
    border-radius: 2%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;

    width: 100%;
    height: auto;

}

.project h1 {
    padding-top: 2%;
    color: #2f3638;
}
.description{
    margin-left: -2rem;
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.linking a:nth-child(1){
    
    
}

/* ============================================================================== */
/*    THIRD SECTION */
.third {
    display: grid;
    place-content: center;
    margin-top: 1rem;
}

.contact-me{
    display: grid;
    place-items: center;
}

.contact-me .handles h1:nth-child(n) {
    margin-top: 10rem;
}

.contact-me .handles h1:nth-child(n):hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.handles {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.handles h1 a {
    padding: 10px;
    text-decoration: none;
    color: rgb(69, 154, 235);
    word-spacing: 0.4rem;
    justify-content: center;
    align-items: center; 
}
/* ============================================================================ */
/* FOOTER SECTION */
.footer {
    position: relative;
    width: 100%;
    height: 2.9vh;
    bottom: -110rem;
    top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 172, 45);
}

/* ADDING RESPONSIVENESS */
@media only screen and (max-width:620px) {
    .projects {
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 80px;
    }

    .project h1 {
        padding-top: 2%;
        color: #242a2c;
        font-size: x-large;
    }

    .handles h1 a {
        font-size: x-large;
    }

    .contact-me h1 {
        font-size: x-large;
    }

}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.7s ease-out;
}
.reveal.is-visible {
    opacity: 1;
    transform: translateY(0);
}
